@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&display=swap");

.navbar-container {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	background: #fff;
	margin-bottom: 1%;
	padding: 10px;
}

.logo {
	justify-self: left;
	font-family: "Edu QLD Beginner", cursive;
	font-size: 3.5em;
}

.nav {
	justify-self: right;
	display: grid;
	grid-template-columns: 20% 35% 45%;
	align-items: center;
	min-width: 400px;
}

.nav a {
	text-decoration: none;
	color: #000;
}

.nav-home {
	font-size: 1.5em;
	border-right: #000 2px solid;
	padding-right: 10px;
}

.nav-user {
	display: grid;
	grid-template-columns: 40% 60%;
	align-items: center;
}

.user-photo {
	width: auto;
	justify-self: center;
}

.user-photo img {
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

.user-name {
	font-size: 1.2em;
}

.nav-icons {
	display: grid;
	grid-template-columns: repeat(3, auto);
	align-items: center;
}

.icons-photo {
	display: grid;
	justify-content: center;
	align-content: center;
	background: #f2edeb;
	height: 25px;
	width: 25px;
	padding: 5px;
	border-radius: 25px;
}

.icons-photo:hover {
	box-shadow: 0 0 10px 0 #bbb;
	cursor: pointer;
}

.icons-photo img {
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 700px) {
	.navbar-container {
		display: grid;
		grid-template-columns: none;
		justify-content: center;
	}
	.logo {
		justify-self: center;
	}
}
