.addpost-container {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 #bbb;
	padding: 20px;
}

.addpost-heading {
	font-size: 3em;
}

.addpost-status {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.addpost-update form textarea {
	font-size: 1.3em;
	color: #333;
	width: 99%;
	height: 150px;
	border: 1px solid #808080;
	border-radius: 5px;
}

.addpost-buttons {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
}

.addpost-buttons button {
	display: grid;
	grid-template-columns: 15% 85%;
	align-items: center;
	font-size: 1.3em;
	color: #333;
	height: 40px;
	border: 1px solid #808080;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.addpost-buttons button:hover {
	background-color: #bbb;
}

.addpost-buttons button img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

@media screen and (max-width: 1280px) {
	.addpost-container {
		width: 80vw;
	}

	.addpost-update form textarea {
		width: 98%;
	}
}
